.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #7392A8    ;
  height: 100px;
  padding: 10px ;
  margin: 10px 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Container{
  width:'100px';
  height: auto;
  clear:both;
  background-color: black;
}
.container {
  width:80%
}
.jumbotron{
  width:80%;
  background-color:#EAECED
}
.footer
{
  width:'100%';
  height: '50px';
  padding: 15px;
  color:white;
  background-color:#1C2D39     ;

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
