body {
  background-image: url('background.jpeg') ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 120px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
